.map-container {
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensure the iframe respects the border-radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  width: 60%; /* Reduce the width */
  margin: 20px auto; /* Add horizontal margins and center the container */
  height: 400px; /* Fixed height for the map */
}

@media (max-width: 768px) {
  .map-container {
    width: 88%; /* Increase width for smaller screens */
  }
}

@media (max-width: 480px) {
  .map-container {
    width: 88%; /* Full width for very small screens */
  }
}

.map-container iframe {
  width: 100%;
  height: 100%;
}
